  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <img src="img/logos/zzz-zwaper-white.png" class="logo-img me-auto"><a href="index.html"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="weowmusic.html">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Spotify</a></li>
          <li><a class="nav-link scrollto" href="#about">Youtube</a></li>
          <li><a class="nav-link scrollto" href="index.html">Zwaper's Portfolio</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->