    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>zZz // Zwaper</h4>
                <span>Creator of WE☹W MUSIC</span>
                <p>Started WE☹W MUSIC in 2018</p>
                <div class="social">
                  <a href=""><i class="ri-steam-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>ThatGuyDank</h4>
                <span>Co-Creator of WE☹W MUSIC</span>
                <p>Joined WE☹W MUSIC mid 2020</p>
                <div class="social">
                  <a href=""><i class="ri-steam-fill"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 offset-3">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>WE☹W MUSIC</h4>
                <span>Mascot</span>
                <p>The mascot that made everything fun.</p>
                <div class="social">
                </div>
              </div>
            </div>
          </div>
      
        </div>

      </div>
    </section><!-- End Team Section -->