  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>PlayList Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.youtube.com/playlist?list=PLkSaehvtoPcxdDhbdig_EYYVl5ONrhAqt">Youtube</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://open.spotify.com/playlist/11LUL4iuhh5R4UgNrCoBUD?si=Wse45kRLT4qx1-qGkVlzqw">Spotify</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Steam Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://steamcommunity.com/groups/WEOWMUSIC">Steam Group</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://steamcommunity.com/id/Zwaper">Zwaper Steam Profile</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://steamcommunity.com/id/ThatGuyDank">Dank Steam Profile</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links text-center">
            <h4>Buttons</h4>
            <div class="social-links mt-3">
              <a href="https://open.spotify.com/playlist/11LUL4iuhh5R4UgNrCoBUD?si=Wse45kRLT4qx1-qGkVlzqw" class="spotify"><i class="ri-spotify-fill"></i></a>
              <a href="https://www.youtube.com/playlist?list=PLkSaehvtoPcxdDhbdig_EYYVl5ONrhAqt" class="youtube"><i class="ri-youtube-fill"></i></a>
              <a href="https://steamcommunity.com/groups/WEOWMUSIC" class="steam"><i class="ri-steam-fill"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Weow Music</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->