    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row justify-content-center" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://www.youtube.com/playlist?list=PLkSaehvtoPcxdDhbdig_EYYVl5ONrhAqt" target="_blank">
            <img src="img/logos/yt_logo_mono_dark.png" class="img-fluid" alt="">
          </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://open.spotify.com/playlist/11LUL4iuhh5R4UgNrCoBUD?si=Wse45kRLT4qx1-qGkVlzqw" target="_blank">
            <img src="img/logos/spotify-logo.png" class="img-fluid" alt="">
            </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="https://steamcommunity.com/groups/WEOWMUSIC" target="_blank">
            <img src="img/logos/steam.png" class="img-fluid" alt="">
            </a>
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <a href="index.html">
            <img src="img/logos/zzz-zwaper-white.png" class="img-fluid" alt="">
            </a>
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->